<script id = "contact_template" type = "text/template">

	<button id ="new_contact">New Contact</button>
	<div class = "contact well col-md-4">
		<button id = "delete_contact">Delete</button>
		<button id = "edit_contact">Edit</button><br>
		<h1><%= contact.full_name %></h1><br>
		<h2><%= contact.email %></h2><br>
		<h2><%= contact.phone %></h2><br>
		<h4><%= contact.descrition %></h4>
	</div>

</script>